@media screen and (max-width: 1280px) {
  #nav ul li a {
    font-size: 1.1em;
  }
  
  #main>.main {
      padding: 4em 4em 2em;
  }

  #registry .content {
    max-width: 75%;
  }
}

@media screen and (max-width: 1080px) {
  .wedding__image {
    display: none;
  }

  .spotlight .content {
    width: 100%;
  }

  #main ul.logistics li > div {
    font-size: 3.5vw;
  }

  .accommodations .content > p {
    font-size: 2.5vw;
  }

  .btn-hotel {
    margin: 1rem .5rem; 
  }

  #header {
    height: 93%;
  }

  #nav, .navwrapper {
    height: 7%;
  }



  #nav ul li a {
    font-size: .8em;
  }

  .registry__image > div {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 800px) {
  #header {
    height: 100%;
  }

  #nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
  }

  #nav + #main {
    padding-top: 0;
  }

  .navwrapper {
    display: none;
  }

  .banner__text h2 {
    font-size: 4rem;
  }
  
  .banner__text span {
    font-size: 1rem;
  }

  #registry .content {
    max-width: 100%;
  }

  .content {
    padding: 0px 8vw;
  }

  #registry .content p,
  .accommodations .content > p, 
  .shuttle-schedule-container > .content > p,
  #registry .content p,
  section .content p
  {
    font-size: .8rem;
  }

  .things-text p, .things-text
  {
    font-size: .8rem;
  }

  section .content h2 {
    font-size: 3em;
  }

  section .content h3 {
    font-size: .9rem;
  }

  .logistics {
    margin: auto;
  }
  #main ul.logistics li {
    /* display: flex;
    height: 15rem;
    align-items: center; */
    height: unset;
  }
  
  #main ul.logistics > li:first-child {
    text-align: center;
    justify-content: center;
  }
  
  #main ul.logistics > li:last-child {
    text-align: center; 
    justify-content: center;
    flex-direction: column;

  }
  
  #main ul.logistics > li:first-child > div {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 70%;
  }
  
  #main ul.logistics > li:last-child > div {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 70%;
  }
  
  #main ul.logistics > li:last-child:before {
    width: 100%;
    height: 2px;
    margin: 1em 0;
  }
  
  .logistics li {
    width: 100%;
  }

  .registry__image > div {
    max-width: unset;
  }

  .shuttle-times-container
  {
    flex-direction: column;
    justify-content: center;
  }

  .shuttle-times-subcontainer
  {
    margin: 5px auto;
    width: 270px;
  }

  .hotels li {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .banner__text h2 {
    font-size: 3rem;
  }

  section .content h2 {
    font-size: 2.5em;
  }

  #registry .content p, .accommodations .content > p, .shuttle-schedule-container > .content > p, #registry .content p {
    font-size: .9rem;
  }

  .banner__text span {
    font-size: .9rem;
  }

  .things-to-do-desktop
  {
    display: none;
  }

  .things-to-do-mobile
  {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .btn-hotel {
    font-size: .75em;
    padding: .5rem 1rem;
    width: 60%;
  }

  .hotels > li {
    width: 100%;
    margin: .5rem 0;
  }

  header.major {
    margin-bottom: 0;
  }

  .shuttle-times-subcontainer
  {
    font-size: .8em;
    min-width: 240px;
    width: 240px;
    padding: 10px 0;
  }

  .shuttle-times-subcontainer span
  {
    font-size: 1.4em;
  }

  .shuttle-times-subcontainer h3
  {
    font-size: 1em;
  }

  #main ul.logistics li > div h3 {
    font-size: 1.4rem;
  }

  #registry .content p,
  .accommodations .content > p, 
  .shuttle-schedule-container > .content > p,
  #registry .content p,
  section .content p
  {
    font-size: .7rem;
  }

  .things-text p, .things-text
  {
    font-size: .7rem;
  }

  #registry .content a > button > div > p
  {
    font-size: .8rem;
  }

  #registry button {
    margin: 0.75rem;
  }

  section .content h2 {
    font-size: 2em;
  }

  section .content h3 {
    font-size: .8rem;
  }

  .hotels li {
    margin: 0;
  }
}

@media only screen and (max-width: 400px) {
  .banner__text h2 {
    font-size: 2.5rem;
  }

  section .content h2 {
    font-size: 2.25em;
  }

  #registry .content a > button > div > p,
  .accommodations .content > p, 
  .shuttle-schedule-container > .content > p, 
  #registry .content p {
    font-size: .7rem;
  }

  .banner__text span {
    font-size: .8rem;
  }

  #main ul.logistics li > div h3 {
    font-size: 1.2rem;
  }

  .things-text p, .things-text
  {
    font-size: .7rem;
  }



  .things-to-do-mobile .things-box-two-thirds .things-text
  {
    display: flex;
    width: 70vw;
    width: calc(72vw-6);
    height: 175px;
    padding: 5px 5vw;
    flex-grow: 1;
  }

  .things-to-do-mobile .things-box-one-third .things-text
  {
    display: flex;
    width: 30vw;
    height: 125px;
    padding: 5px 5vw;
    flex-grow: 1;
  }

  .btn
  {
    margin: 0;
  }

  section .content p {
    font-size: .65rem;
  }

  .hotels li {
    margin: 0;
  }

  .things-to-do-mobile .things-box-one-third .things-box-image {
      background: #000000;
      max-width: 296px;
      width: 40vw;
      height: 100%;
      max-height: 125px;
      position: absolute;
      border-radius: 10px;
      overflow: hidden;
      z-index: 0;
  }
}