@media screen and (max-width: 1280px) {
  #main>.main {
      padding: 4em 4em 2em;
  }

  #registry .content {
    max-width: 75%;
  }
}

@media screen and (max-width: 1080px) {
  .wedding__image {
    display: none;
  }

  .spotlight .content {
    width: 100%;
  }

  #main ul.logistics li > div {
    font-size: 3.5vw;
  }

  .accommodations .content > p {
    font-size: 2.5vw;
  }

  .btn-hotel {
    margin: 1rem .5rem; 
  }

  #nav ul li a {
    font-size: 1.25em;
  }

  .registry__image > div {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 800px) {
  #header {
    height: 100%;
  }

  #nav {
    display: none;
  }

  #nav + #main {
    padding-top: 0;
  }

  .navwrapper {
    display: none;
  }

  .banner__text h2 {
    font-size: 10vw;
  }
  
  .banner__text span {
    font-size: 3.5vw;
  }

  #registry .content {
    max-width: 100%;
  }

  .accommodations .content > p {
    font-size: 3vw;
  }

  section .content h2 {
    font-size: 2em;
  }

  .logistics {
    margin: auto;
  }
  #main ul.logistics li {
    /* display: flex;
    height: 15rem;
    align-items: center; */
    height: unset;
  }
  
  #main ul.logistics > li:first-child {
    text-align: center;
    justify-content: center;
  }
  
  #main ul.logistics > li:last-child {
    text-align: center; 
    justify-content: center;
    flex-direction: column;

  }
  
  #main ul.logistics > li:first-child > div {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 70%;
  }
  
  #main ul.logistics > li:last-child > div {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 70%;
  }
  
  #main ul.logistics > li:last-child:before {
    width: 100%;
    height: 2px;
    margin: 1em 0;
  }
  
  .logistics li {
    width: 100%;
  }

  .registry__image > div {
    max-width: unset;
  }
}

@media only screen and (max-width: 500px) {
  .btn-hotel {
    font-size: .75em;
    padding: .5rem 1rem;
    width: 80%;
  }

  .hotels > li {
    width: 100%;
  }

  header.major {
    margin-bottom: 0;
  }

  #registry .content p {
    font-size: .65em;
  }

  #registry .content a > button > div > p {
    font-size: .6em;
  }
}
