html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}


/* Full page responsive background image*/
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Full page background color */
div.admin-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #004e38;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  * {
    padding: none;
    max-width: 100vw;
  }
  
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
    filter: blur(300px);
  }

  div.admin-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

  #main {
    display: none;
  }
}

.header {
  position: relative;
  color: black;
  overflow: hidden;
}

.header__image_container {
  height: 90vh;
  width: auto;
  overflow: hidden;
  margin: auto;
}

.header__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: auto;
  margin: auto;
  max-width: none;
  overflow: hidden;
}

.header__text {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
  width: 60%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__text img {
  max-height: 300px;
}

nav {
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
  max-width: 1395px;
  margin: auto;
  height: 10vh;
  max-height: 10vh;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 0.2s;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

li:hover {
  background-color: #677458;
}

li:hover > a {
  color: #FFFFFF;
}

.fixed-nav li.logo {
  max-width:500px;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:#677458;
  transition:all 0.2s;
  text-transform: uppercase;
}

nav a:hover {
  color: #FFFFFF;
}

.content > div {
  border-bottom: 1px black solid;
  padding-top: 25px;
  padding-bottom: 25px;
}

.weddingContent figure {
  margin-left: 0;
  margin-right: 0;
}

#accommodations, #registry {
  position: relative;
}


.hotelButtons {
  width: 75%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.registryButtons {
  width: 75%;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hotelButton__container {
  position: relative;
}

.hotelButton {
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transition:all 0.2s;
}

.hotelButton__three, .hotelButton__four {
  display:none;
}

.hotelButton__container:hover > .hotelButton__one, .hotelButton__container:hover > .hotelButton__two {
  display:none;
}

.hotelButton__container:hover > .hotelButton__three, .hotelButton__container:hover > .hotelButton__four {
  display:block;
}

.hotelButton__left {
  left: 25%;
}

.hotelButton__right {
  left: 75%;
}

.accomodationsImage {

}

.weddingContent figure {
  text-align: center;
}

.weddingSection {
  margin-bottom: 100px;
}

.zolaImage {
  margin-top: 50px;
  max-width: 300px;
}